@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    opacity: 0;
}
body {
    font-family: 'Poppins', sans-serif;
      background-color: var(--white-color);
    }
