:root {
    --gray-text-color: #6A6A6A;
    --primary-dark-color: #292929;
    --vine-color: #6A1E1E;
    --alternative-gray: #9C9C9C;
    --background-color: #E1E1E1;
    --background-alternative-color: #FFFFE0
}

h1 {
    color: var(--primary-dark-color)
}

h2,
p {
    color: var(--primary-dark-color)
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent
}

input,
textarea {
    outline: none
}

.linear-gradient {
    background: linear-gradient(180deg, #C55300, #D4AA3C)
}

.openMenu {
    position: absolute;
    top: 0;
    right: 0;
    transition: ease .5s
}

.hiddeMenu {
    position: absolute;
    top: 0;
    right: 100%;
    transition: ease .5s
}

.inset-shadow {
    box-shadow: inset 3px 3px 3px #00000020, 1px 1px 3px #00000010
}

.shadowToCart {
    box-shadow: 0 3px 2px #29292940
}

.selectedCard {
    border: 3px solid #98FB98
}

.shadowToLogout {
    box-shadow: inset 1px 2px 4px #00000020, 1px 2px 4px #00000020
}

.motosvg {
    animation: motoAnimate 3s linear;
}

.bgSvgClass {
    animation: bgSvgAnimate 1s linear;
}


@keyframes motoAnimate {
    0% {
        right: 0;
    }

    12% {
        right: 12%;
        transform: rotate(45deg);
    }

    33% {
        right: 33%;
        transform: rotate(75deg);
    }

    66% {
        right: 66%;
        transform: rotate(0deg);
    }

    100% {
        right: 80%;
    }
}

@keyframes bgSvgAnimate {
    0% {
       width: 0;
    }

    50% {

      width: 50vw;
    }

    100% {
    width: 100vw; 
    }
}